<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin/vendors/feather/feather.css'%}">
  <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css'%}">
  <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/js/select.dataTables.min.css'%}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin/css/vertical-layout-light/style.css'%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'admin/images/favicon.png'%}" />
</head>
<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'admin_dashboard' %}"><img src="{% static 'admin/images/logo.sv'%}" class="mr-2" alt=""/>Admin</a>
       </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
         
        <ul class="navbar-nav navbar-nav-right">
         
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="https://img.icons8.com/ios/50/000000/settings--v1.png"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                
              <a class="dropdown-item" href="{% url 'index' %}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
         
      </div>
    </nav>
    <!-- partial:partials/_navbar.html -->
     
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
       
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
         
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_dashboard'%}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Machanic</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_pending_mechanic'%}">Pending Mechanic</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_manage_mechanic'%}">Manage Mechanic</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_all_mechanic'%}">All Mechanic</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">User Portol</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'admin_user_details'%}">User Details</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Authority</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_add_authority'%}">Add Authority</a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_manage_authority'%}">Manage Authority</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Feedback Portal</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_feedback_analysis'%}">Feedback Analysis</a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'admin_sentement_analysis_graph'%}">Sentiment Analysis<br>graph</a></li>
              </ul>
            </div>
          </li>
          
        </ul>
      </nav>
      <!-- partial -->
      
           
          <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <h2  style="padding-left:380px;">Manage Authority</h2>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      User
                    </th>
                    <th>
                      First name
                    </th>
                    <th>
                     Mobile Number
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Action
                    </th>
                  
                  </tr>
                </thead>
                <tbody>
                  {% for i in a %}
                  <tr>
                    <td class="py-1">
                      <img src="{% static '/Admin/images/faces/face16.jpg'%}" alt="image"/>
                    </td>
                    <td>
                     {{i.authority_name}}
                    </td>
                    <td>
                       {{i.contact_number}}
                    </td>
                    
                    <td>
                      <div class="row">
                        <div class="center-block text-primary" style="font-size: 20px;" >Authorize</div>
                      
                      </div>
                    </td>
                    <td>
                      <a href="admin_edit_authority/{{i.authority_id}}"><button type="submit" class="btn btn-success  btn-sm">Edit</button></a> 
                    

                  </td>
                {% endfor %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      



      
      </div>
      <!-- main-panel ends -->
    </div>  
    </div> 
  
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer" style="text-align: center">
        
          <div class="justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> <a href="http://www.codebook.in" target="_blank"All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. Designes & Developed by CodeBook<i class="ti-heart text-danger ml-1"></i></span>
            
         </div>
        </footer> 
        </div> 
        
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'admin/vendors/js/vendor.bundle.base.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'admin/vendors/chart.js/Chart.min.js'%}"></script>
  <script src="{% static 'admin/vendors/datatables.net/jquery.dataTables.js'%}"></script>
  <script src="{% static 'admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js'%}"></script>
  <script src="{% static 'admin/js/dataTables.select.min.js'%}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'admin/js/off-canvas.js'%}"></script>
  <script src="{% static 'admin/js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'admin/js/template.js'%}"></script>
  <script src="{% static 'admin/js/settings.js'%}"></script>
  <script src="{% static 'admin/js/todolist.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'admin/js/dashboard.js'%}"></script>
  <script src="{% static 'admin/js/Chart.roundedBarCharts.js'%}"></script>
  <!-- End custom js for this page-->
</body>

</html>

